In [35]:
import pandas as pd

# Load the dataset
df = pd.read_csv('/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/c3s-cds/catalogues/all_catalogues.csv')

# Display the first few rows
df.head()

,Unnamed: 0,variable,model,experiment,dataset,dataset_type,product_type,interpolation,data_path,origin_path,start_file_exists,final_file_exists,earliest_date,latest_date
0,0,sfcwind,NaN,NaN,reanalysis-era5-single-levels,reanalysis,derived,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/der...,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,True,True,2022,2024
1,1,t2m,NaN,NaN,derived-era5-single-levels-daily-statistics,reanalysis,raw,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,CDS,True,True,1940,2024
2,2,t2mx,NaN,NaN,derived-era5-single-levels-daily-statistics,reanalysis,raw,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,CDS,True,True,1940,2024
3,3,t2mn,NaN,NaN,derived-era5-single-levels-daily-statistics,reanalysis,raw,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,CDS,True,True,1940,2024
4,4,e,NaN,NaN,derived-era5-single-levels-daily-statistics,reanalysis,raw,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,CDS,True,True,1940,2024

In [36]:
# Get all unique datasets
unique_datasets = df['dataset'].unique()

# Print the unique datasets
print(unique_datasets)

['reanalysis-era5-single-levels'
 'derived-era5-single-levels-daily-statistics'
 'reanalysis-cerra-single-levels' 'reanalysis-cerra-land']

In [ ]:
grouped_datasets = df.groupby('dataset_type')['dataset'].unique()
print(grouped_datasets)

In [37]:
# Filter the dataset for 'raw' product type
raw_data = df[df['product_type'] == 'raw']

raw_data.head()

,Unnamed: 0,variable,model,experiment,dataset,dataset_type,product_type,interpolation,data_path,origin_path,start_file_exists,final_file_exists,earliest_date,latest_date
1,1,t2m,NaN,NaN,derived-era5-single-levels-daily-statistics,reanalysis,raw,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,CDS,True,True,1940,2024
2,2,t2mx,NaN,NaN,derived-era5-single-levels-daily-statistics,reanalysis,raw,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,CDS,True,True,1940,2024
3,3,t2mn,NaN,NaN,derived-era5-single-levels-daily-statistics,reanalysis,raw,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,CDS,True,True,1940,2024
4,4,e,NaN,NaN,derived-era5-single-levels-daily-statistics,reanalysis,raw,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,CDS,True,True,1940,2024
5,5,tp,NaN,NaN,derived-era5-single-levels-daily-statistics,reanalysis,raw,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,CDS,False,True,2022,2024

In [38]:
# Retrieve the data paths for all raw variables
raw_paths = raw_data[['variable', 'data_path']]
raw_paths.head()

  variable                                          data_path
1      t2m  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
2     t2mx  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
3     t2mn  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
4        e  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
5       tp  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...

In [39]:
# Filter by a specific variable, e.g., 't2m', and get the paths
t2m_raw_paths = raw_data[raw_data['variable'] == 't2m'][['variable', 'data_path']]
t2m_raw_paths.head()

   variable                                          data_path
1       t2m  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
11      t2m  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...

In [40]:
# Filter by a specific dataset, e.g., 'derived-era5-single-levels-daily-statistics', and get the paths
derived_era5_raw_paths = raw_data[raw_data['dataset'] == 'derived-era5-single-levels-daily-statistics'][['variable', 'data_path']]
derived_era5_raw_paths.head()

  variable                                          data_path
1      t2m  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
2     t2mx  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
3     t2mn  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
4        e  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
5       tp  /lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...

In [41]:
# Filter by a derived data and get the paths

derived_data = df[df['product_type'] == 'derived']
derived_data.head()

,Unnamed: 0,variable,model,experiment,dataset,dataset_type,product_type,interpolation,data_path,origin_path,start_file_exists,final_file_exists,earliest_date,latest_date
0,0,sfcwind,NaN,NaN,reanalysis-era5-single-levels,reanalysis,derived,NaN,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/der...,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,True,True,2022,2024

In [42]:
# Retrieve the data and origin paths for all derived variables

data_path=derived_data[['variable', 'data_path','origin_path']]
data_path.head()

,variable,data_path,origin_path
0,sfcwind,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/der...,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...

In [43]:
int_data = df[df['product_type'] == 'interpolated']
int_data.head()

,Unnamed: 0,variable,model,experiment,dataset,dataset_type,product_type,interpolation,data_path,origin_path,start_file_exists,final_file_exists,earliest_date,latest_date
16,16,t2m,NaN,NaN,reanalysis-cerra-single-levels,reanalysis,interpolated,land_sea_mask_0.0625degree.nc4,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/gr0...,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,True,True,198801,201712
17,17,r2,NaN,NaN,reanalysis-cerra-single-levels,reanalysis,interpolated,land_sea_mask_0.0625degree.nc4,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/gr0...,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...,True,True,198801,201712

In [44]:
# Retrieve the data and origin paths for all interpolated variables

data_path=int_data[['variable', 'data_path','origin_path']]
data_path.head()

,variable,data_path,origin_path
16,t2m,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/gr0...,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...
17,r2,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/gr0...,/lustre/gmeteo/WORK/DATA/C3S-CDS/ERA5_temp/raw...

In [45]:
# Retrieve the data and origin paths for all interpolated variables

data_path=int_data[['variable', 'interpolation']]
data_path.head()

   variable                   interpolation
16      t2m  land_sea_mask_0.0625degree.nc4
17       r2  land_sea_mask_0.0625degree.nc4